In [51]:
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt
from sklearn.neural_network import MLPClassifier
from sklearn.svm import SVC
from sklearn.neighbors import KNeighborsClassifier
from sklearn.model_selection import train_test_split

In [52]:
train_data = pd.read_csv('data/task3.training.csv')
test_data = pd.read_csv('data/task3.test.WITHOUT.answers.csv')

In [53]:
train_data.head()

,f0,f1,f2,f3,f4,f5,f6,f7,f8,f9,...,f14,f15,f16,f17,f18,f19,f20,f21,f22,class
0,8.8269,11.2924,9.0146,15.7018,3.0100,1.0697,5.8724,20.0306,5.6681,21.9147,...,-2.9938,2.0062,-8.7261,-15.5238,3.5446,-7.5736,-8.1446,0.0863,6.4086,B
1,22.6570,9.0434,19.1275,18.9879,5.3184,2.0965,5.9943,7.9084,11.5668,9.0095,...,-6.2045,-1.2045,-13.4658,-12.2388,0.2718,-9.4839,-20.2076,7.0234,0.1967,J
2,14.5590,11.6271,14.7048,15.6355,3.7791,2.9636,4.4687,11.1210,10.2046,16.9536,...,-2.6442,2.3558,3.7904,5.6663,0.5139,3.7904,-2.1275,2.8793,0.4225,H
3,9.2036,13.8966,9.0603,2.7157,14.6784,2.0528,3.0575,13.4890,8.3891,13.9828,...,-1.5029,1.7215,0.6950,-1.3434,0.5821,0.6950,-13.3325,10.5075,0.2354,G
4,27.9246,6.8708,19.1740,10.5967,9.7137,3.2531,3.1151,30.7808,6.8123,19.9058,...,-0.1046,4.8954,-0.9198,-9.5543,5.0745,-2.5613,-1.7515,0.1457,5.9005,G

In [54]:
test_data.head()

,f0,f1,f2,f3,f4,f5,f6,f7,f8,f9,...,f13,f14,f15,f16,f17,f18,f19,f20,f21,f22
0,15.9510,8.8893,17.5399,9.1624,14.8633,0.5092,4.0896,26.0658,4.8679,21.1590,...,2.3355,-11.1718,9.6776,-16.1713,-13.3087,0.9687,-4.0456,-20.4774,13.3216,0.2697
1,16.7545,7.6617,20.3725,14.5646,4.4275,0.3786,5.5799,14.0396,9.1891,15.3969,...,1.9399,-3.0252,1.9748,-13.4092,-18.5152,2.3076,-7.9200,-18.2568,6.6467,0.5892
2,9.4668,12.0664,12.4030,7.6377,12.9472,2.5837,0.6746,30.2503,8.5338,20.5501,...,1.7037,-2.5483,6.5184,4.3979,8.4897,1.6554,4.3979,-6.5988,7.2933,0.4764
3,26.8162,8.8744,20.3822,18.5070,2.9100,1.0886,4.7989,30.5574,5.0428,20.8858,...,2.1528,-4.0328,0.9672,-9.6428,-13.6126,1.5819,-7.2220,-8.4073,0.2581,2.4757
4,15.1374,12.5038,14.1049,14.5273,6.1796,2.4358,0.9609,14.0903,5.2872,20.9895,...,1.5428,-2.9943,2.0057,-7.5071,-14.6036,3.7810,-10.1215,-8.7819,0.3101,3.4917

In [67]:
y = train_data['class']
x = train_data[['f0','f1','f2','f3','f4','f5','f6','f7','f8','f9','f10','f11','f12','f13','f14','f15','f16','f17','f18','f19','f20','f21','f22']]

train_data_ans = train_data['class']
train_data_set = train_data[['f0','f1','f2','f3','f4','f5','f6','f7','f8','f9','f10','f11','f12','f13','f14','f15','f16','f17','f18','f19','f20','f21','f22']]

In [56]:
# Split training data for test data
sp_train_data, sp_test_data = train_test_split(train_data, test_size=0.1, random_state=100)

sp_train_data_ans = sp_train_data['class']
sp_train_data_set = sp_train_data[['f0','f1','f2','f3','f4','f5','f6','f7','f8','f9','f10','f11','f12','f13','f14','f15','f16','f17','f18','f19','f20','f21','f22']]

sp_test_data_ans = sp_test_data['class']
sp_test_data_set = sp_test_data[['f0','f1','f2','f3','f4','f5','f6','f7','f8','f9','f10','f11','f12','f13','f14','f15','f16','f17','f18','f19','f20','f21','f22']]

In [57]:
print(len(sp_train_data))
print(len(sp_test_data))

9000
1000

In [58]:
clf = SVC(C=2.0, kernel='linear', verbose=1, random_state = 87, gamma=0.87) 
output_clf = clf.fit(sp_train_data_set, sp_train_data_ans)

[LibSVM]

In [59]:
output_clf.score(sp_test_data_set, sp_test_data_ans)

0.994

In [162]:
# MLP Training
# hidden_layer_sizes=(23,) = 0.998
# hidden_layer_sizes=(46,) = 0.9992
# hidden_layer_sizes=(100) = 1.0
#1e-05
mlp = MLPClassifier(alpha=0.00005, hidden_layer_sizes=(23), random_state=1, solver='lbfgs', max_iter=50000000, verbose=1)
mlp.fit(train_data_set, train_data_ans)
mlp.score(sp_test_data_set, sp_test_data_ans)

1.0

In [163]:
mlp.score(train_data_set, train_data_ans)

1.0

In [170]:
mlp.loss_

0.0022578493420907265

In [171]:
test_x = test_data[['f0','f1','f2','f3','f4','f5','f6','f7','f8','f9','f10','f11','f12','f13','f14','f15','f16','f17','f18','f19','f20','f21','f22']]

In [172]:
y_pred = mlp.predict(test_x)

In [173]:
number = np.arange(1,len(y_pred)+1)

In [174]:
sample = pd.read_csv('data/task3.SAMPLE.submission.csv')
sample.head()

   id Predicted
0   1         A
1   2         B
2   3         C
3   4         D
4   5         E

In [175]:
submission = {'Id':number, 'Predicted':y_pred}
df = pd.DataFrame(submission,  columns= ['Id', 'Predicted'])

In [176]:
df.to_csv("submission.csv", index = False, header=True)