In [7]:
import numpy as np
import pandas as pd
from sklearn.linear_model import LinearRegression

In [13]:
train_data = pd.read_csv('data/task1.training.csv')
test_data = pd.read_csv('data/task1.test.csv')

In [16]:
train_data.head()

,f0,f1,f2,f3,f4,f5,f6,f7,f8,f9,target
0,12.3504,11.1348,12.2830,15.2634,2.1816,2.1481,0.5091,9.0213,12.4283,8.3838,13.1417
1,9.3637,12.2784,8.8222,2.0414,14.4623,3.5901,2.1357,13.4832,10.7378,15.1303,20.7985
2,13.2916,15.9057,16.4435,10.3739,5.7188,3.7080,5.6332,9.2375,10.4080,15.9636,11.3115
3,8.1896,11.4224,8.9549,14.1355,6.5579,2.7926,4.6686,8.8452,8.0353,15.0181,6.4268
4,9.3945,12.7940,6.9464,16.5530,4.2468,2.4466,5.4304,23.6392,8.3094,21.8089,19.0593

In [15]:
test_data.head()

,f0,f1,f2,f3,f4,f5,f6,f7,f8,f9
0,7.6329,13.4432,9.9584,16.3592,3.4026,1.7659,4.8841,7.3397,13.3545,8.4885
1,6.2876,11.7434,6.5261,10.9504,13.7244,3.9822,4.2543,21.1978,8.8746,21.3289
2,22.9674,8.3471,20.0081,6.2702,12.8704,3.0460,3.6708,9.3951,13.4790,16.4925
3,15.5542,7.6542,19.7750,8.9039,14.8486,2.5263,5.2081,7.3062,12.2139,6.1679
4,15.0104,11.0666,12.5987,8.4455,14.9655,1.7026,3.0925,9.2699,10.2017,8.4909

In [5]:
y = train_data['target']
x = train_data[['f0','f1','f2','f3','f4','f5','f6','f7','f8','f9']]

In [8]:
linear_regression = LinearRegression()

In [10]:
linear_regression.fit(x,y)

LinearRegression()

In [17]:
test_x = test_data[['f0','f1','f2','f3','f4','f5','f6','f7','f8','f9']]

In [18]:
y_pred = linear_regression.predict(test_x)

In [41]:
number = np.arange(1,len(y_pred)+1)

In [42]:
sample = pd.read_csv('data/sample.submission.csv')
sample.head()

   id  Predicted
0   1    13.1067
1   2    22.2923
2   3    22.3469
3   4    26.4337
4   5    58.2012

In [43]:
submission = {'Id':number, 'Predicted':y_pred}
df = pd.DataFrame(submission,  columns= ['Id', 'Predicted'])

In [46]:
df.to_csv("submission.csv", index = False, header=True)