In [63]:
import numpy as np
import pandas as pd
from sklearn.svm import SVC
from sklearn.neighbors import KNeighborsClassifier

In [64]:
train_data = pd.read_csv('data/task2.training.csv')
test_data = pd.read_csv('data/task2.test.withOUT.answers.csv')

In [65]:
train_data.head()

,f0,f1,f2,f3,f4,f5,f6,f7,f8,f9,f10,f11,f12,f13,f14,f15,class
0,14.944831,13.285307,12.723919,13.463676,5.810218,3.289884,4.136561,28.489471,7.749849,19.930395,1.714926,4.460417,6.804720,1.634120,1.953905,6.953905,B
1,9.704532,11.693097,7.640653,12.882689,10.734195,3.500318,3.065383,7.919642,12.398902,6.492998,0.884071,-6.616096,-0.379083,-0.252927,-2.869022,2.130978,F
2,10.084863,10.928512,13.520339,3.314768,15.200482,2.570575,3.973462,13.145830,10.852524,12.795131,-8.056055,-9.801208,1.709430,0.694394,-3.528028,1.924525,E
3,7.793208,10.930903,9.893908,9.746585,14.427906,2.694425,1.478501,15.507213,10.907717,13.662531,-6.386868,-0.757737,1.498552,0.749759,-2.245774,2.754226,E
4,30.044518,9.543683,21.860615,1.639816,18.747398,1.088778,4.040136,9.021355,8.178172,17.315334,0.903312,-4.586912,1.897807,1.590331,0.951656,2.081506,C

In [66]:
test_data.head()

,f0,f1,f2,f3,f4,f5,f6,f7,f8,f9,f10,f11,f12,f13,f14,f15
0,9.1550,10.8587,12.2567,14.1652,5.9691,2.9726,3.2705,9.1836,10.4950,9.9999,-1.6673,5.5622,9.5622,1.1750,1.5674,6.5674
1,14.8276,6.4076,21.6141,3.2787,17.9396,3.6189,4.4066,14.1557,11.2347,17.0264,0.7419,-8.5567,2.8029,1.5742,0.8709,2.2177
2,7.6751,10.7449,9.4100,10.8543,10.0576,1.4114,5.0343,9.0363,11.2918,7.2520,0.2955,-7.2688,-7.7896,0.0579,-3.2881,1.7119
3,13.5365,13.6176,15.0497,4.8754,15.0808,3.0575,0.2889,25.3329,7.4031,20.4226,-5.9259,-6.7842,7.5133,1.7522,-3.8245,6.7611
4,9.3010,12.4989,15.8222,6.1455,11.2682,2.0778,0.2968,7.2631,12.4014,9.2282,-9.3013,-0.3604,3.6396,0.6654,-2.8088,2.1912

In [67]:
y = train_data['class']
x = train_data[['f0','f1','f2','f3','f4','f5','f6','f7','f8','f9','f10','f11','f12','f13','f14','f15']]

In [68]:
clf = KNeighborsClassifier(n_neighbors=5)

In [69]:
output_clf = clf.fit(x, y)

In [70]:
test_x = test_data[['f0','f1','f2','f3','f4','f5','f6','f7','f8','f9','f10','f11','f12','f13','f14','f15']]

In [71]:
y_pred = output_clf.predict(test_x)

In [72]:
number = np.arange(1,len(y_pred)+1)

In [73]:
sample = pd.read_csv('data/sampleAnswers.csv')
sample.head()

   id Predicted
0   1         A
1   2         B
2   3         C
3   4         D
4   5         E

In [74]:
submission = {'Id':number, 'Predicted':y_pred}
df = pd.DataFrame(submission,  columns= ['Id', 'Predicted'])

In [75]:
df.to_csv("submission.csv", index = False, header=True)