In [41]:
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt
from sklearn.neural_network import MLPClassifier
from sklearn.svm import SVC
from sklearn.neighbors import KNeighborsClassifier
from sklearn.model_selection import train_test_split

In [2]:
train_data = pd.read_csv('data/task2.training.csv')
test_data = pd.read_csv('data/task2.test.withOUT.answers.csv')

In [3]:
train_data.head()

,f0,f1,f2,f3,f4,f5,f6,f7,f8,f9,f10,f11,f12,f13,f14,f15,class
0,14.944831,13.285307,12.723919,13.463676,5.810218,3.289884,4.136561,28.489471,7.749849,19.930395,1.714926,4.460417,6.804720,1.634120,1.953905,6.953905,B
1,9.704532,11.693097,7.640653,12.882689,10.734195,3.500318,3.065383,7.919642,12.398902,6.492998,0.884071,-6.616096,-0.379083,-0.252927,-2.869022,2.130978,F
2,10.084863,10.928512,13.520339,3.314768,15.200482,2.570575,3.973462,13.145830,10.852524,12.795131,-8.056055,-9.801208,1.709430,0.694394,-3.528028,1.924525,E
3,7.793208,10.930903,9.893908,9.746585,14.427906,2.694425,1.478501,15.507213,10.907717,13.662531,-6.386868,-0.757737,1.498552,0.749759,-2.245774,2.754226,E
4,30.044518,9.543683,21.860615,1.639816,18.747398,1.088778,4.040136,9.021355,8.178172,17.315334,0.903312,-4.586912,1.897807,1.590331,0.951656,2.081506,C

In [4]:
test_data.head()

,f0,f1,f2,f3,f4,f5,f6,f7,f8,f9,f10,f11,f12,f13,f14,f15
0,9.1550,10.8587,12.2567,14.1652,5.9691,2.9726,3.2705,9.1836,10.4950,9.9999,-1.6673,5.5622,9.5622,1.1750,1.5674,6.5674
1,14.8276,6.4076,21.6141,3.2787,17.9396,3.6189,4.4066,14.1557,11.2347,17.0264,0.7419,-8.5567,2.8029,1.5742,0.8709,2.2177
2,7.6751,10.7449,9.4100,10.8543,10.0576,1.4114,5.0343,9.0363,11.2918,7.2520,0.2955,-7.2688,-7.7896,0.0579,-3.2881,1.7119
3,13.5365,13.6176,15.0497,4.8754,15.0808,3.0575,0.2889,25.3329,7.4031,20.4226,-5.9259,-6.7842,7.5133,1.7522,-3.8245,6.7611
4,9.3010,12.4989,15.8222,6.1455,11.2682,2.0778,0.2968,7.2631,12.4014,9.2282,-9.3013,-0.3604,3.6396,0.6654,-2.8088,2.1912

In [142]:
y = train_data['class']
x = train_data[['f0','f1','f2','f3','f4','f5','f6','f7','f8','f9','f10','f11','f12','f13','f14','f15']]

train_data_ans = train_data['class']
train_data_set = train_data[['f0','f1','f2','f3','f4','f5','f6','f7','f8','f9','f10','f11','f12','f13','f14','f15']]

In [143]:
# Split training data for test data
sp_train_data, sp_test_data = train_test_split(train_data, test_size=0.1, random_state=100)

sp_train_data_ans = sp_train_data['class']
sp_train_data_set = sp_train_data[['f0','f1','f2','f3','f4','f5','f6','f7','f8','f9','f10','f11','f12','f13','f14','f15']]

sp_test_data_ans = sp_test_data['class']
sp_test_data_set = sp_test_data[['f0','f1','f2','f3','f4','f5','f6','f7','f8','f9','f10','f11','f12','f13','f14','f15']]

In [87]:
len(sp_train_data_ans)

9000

In [88]:
len(sp_test_data_ans)

1000

In [218]:
svc = SVC(C=40.0, kernel='linear', verbose=1, random_state = 10)
svc.fit(train_data_set, train_data_ans)

[LibSVM]

SVC(C=40.0, kernel='linear', random_state=10, verbose=1)

In [219]:
print(svc.score(sp_test_data_set, sp_test_data_ans))

0.999

In [247]:
# MLP Training
# clf = MLPClassifier(solver='sgd', activation='relu',hidden_layer_sizes=(500, 500, 500), random_state=1, max_iter=3000,verbose=10)
clf = MLPClassifier(alpha=1e-05, hidden_layer_sizes=(15,), random_state=1,
              solver='lbfgs', max_iter=10000000, verbose=10)

In [248]:
clf.fit(train_data_set, train_data_ans)

MLPClassifier(max_iter=10000000, random_state=1, solver='lbfgs', verbose=10)

In [250]:
# MLP Training Output
print(clf.score(sp_test_data_set, sp_test_data_ans))
print(clf.n_layers_)
print(clf.n_iter_)
print(clf.n_outputs_)
print(clf.loss_)
print(clf.out_activation_)

1.0
3
4280
6
0.00015018128804671516
softmax

In [8]:
test_x = test_data[['f0','f1','f2','f3','f4','f5','f6','f7','f8','f9','f10','f11','f12','f13','f14','f15']]

In [25]:
output_clf.predict_proba(test_x)

array([[4.47041594e-14, 1.48661609e-07, 5.26101289e-03, 9.92892884e-01,
        1.84595466e-03, 7.10876340e-17],
       [1.23554075e-10, 1.58179038e-02, 9.84113354e-01, 6.87422030e-05,
        7.50943381e-14, 1.38672423e-38],
       [1.61101440e-34, 2.53142774e-24, 1.82323959e-14, 7.75263910e-05,
        9.30466759e-01, 6.94557143e-02],
       ...,
       [1.15690325e-10, 6.19307718e-03, 9.93744697e-01, 6.22253235e-05,
        8.93517824e-15, 1.31593822e-41],
       [3.14025810e-62, 3.87808300e-56, 4.02034682e-43, 1.43750874e-28,
        1.06450145e-14, 1.00000000e+00],
       [2.07451270e-09, 2.00214407e-03, 9.89433854e-01, 8.56399964e-03,
        1.24435065e-10, 3.45726484e-33]])

In [222]:
y_pred = svc.predict(test_x)
print(y_pred)

['D' 'C' 'E' ... 'C' 'F' 'C']

In [223]:
number = np.arange(1,len(y_pred)+1)

In [224]:
sample = pd.read_csv('data/sampleAnswers.csv')
sample.head()

   id Predicted
0   1         A
1   2         B
2   3         C
3   4         D
4   5         E

In [225]:
submission = {'Id':number, 'Predicted':y_pred}
df = pd.DataFrame(submission,  columns= ['Id', 'Predicted'])

In [226]:
df.to_csv("submission.csv", index = False, header=True)